<div class="container">

  <div class="row">
    <div class="m-4">
      <h4>届け出一覧</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-10 mx-auto">
      <table class="table table-hover table-inverse">
        <tr>
          <th>氏名</th>
          <th>届け出名</th>
          <th>届け出</th>
        </tr>

        <% @notifications.each do |notification| %>
          <tr>
            <td><%= notification.user.full_name %></td>
            <td><%= notification.name %></td>
            <td><%= notification.introduction %></td>
            <td>

            </td>
          </tr>
        <% end %>
      </table>
      <%#= paginate @users %>
    </div>
  </div>
</div>
