<div class='container px-5 px-sm-0'>
  <h2>Posts search for "<%= @word %>"</h2>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <strong>タイトル: <%= post.title %></strong>
        <br>
        本文: <%= post.body %>
      </li>
    <% end %>
  </ul>
</div>