<body>
  <header>
    <div class="container">
      <p id="notice"></p>
      <div class="row">
        <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
          <p>こちらは学生寮専用サイトです。</p>
          <p>寮生様が安心して生活ができるように、</p>
          <p>寮生様メインのコミュニティサイトです。</p>
          <p>多様なコメントグループを作成してコミュニケーションを</p>
          <p>取っていただいたり、届け出の作成を行うことができます。</p>
        </div>
      </div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <main>
    <div class="container">
      <div class="row">
        <h1 class="px-3 mx-auto">Welcome to rilyou_commu !</h1>
      </div>
    </div>
  </main>
</body>