<main>
  <p id="notice"></p>
  <div class="container">
   <div class="row">
    <div class="mx-auto col-11 col-sm-10 col-lg-8 col-xl-6">
      <h1>welcome to <strong>rilyou_commu</strong>  !!</h1>
      <p>In <strong>rilyou_commu</strong>, </p>
      <p>こちらは○×高校学生寮専用サイトです。</p>
      <p> ○×高校学生寮の寮生以外の方は使用できません。</p>
      <p> ○×高校学生寮の方はサインアップ、ログインを行ってください。</p>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <a class="btn btn-info btn-sm btn-block mb-3 sign_in" href="/users/sign_in">Log in</a>
        </div>
        <div class="row">
          <a class="btn btn-success btn-sm btn-block sign_up" href="/users/sign_up">Sign up</a>
        </div>
      </div>
    </div>
   </div>
  </div>
</main>