<h4>通知</h4>
  <% if @notices.present? %>
    <%= link_to "全削除", notice_path, method: :delete, class: "btn btn-light" %>
    <% @notices.each do |notice| %>
        <%= render "own_post", notice: notice %>
    <% end %>
  <% else %>
    通知はありません
  <% end %>