<table class='table'>
  <thead>
    <tr>
      <th></th>
      <th>届け出</th>
      <th>内容</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @notifications.each do |notification| %>
      <tr>

        <td><%= link_to notification.name,notification_path(notification) %></td>
        <td><%= notification.introduction %></td>
        <% if notification.user == current_user %>
          <td><%= link_to 'Edit', edit_notification_path(notification), class: "notification_#{notification.id} btn btn-sm btn-success" %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>