<div class="container">
  <table class='table'>
    <thead>
      <tr>
        <th>いいね</th>
        <th>投稿</th>
        <th>投稿内容</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <%  @favorite_posts.each do |post| %>
        <tr>
          <tr>
            <td><%= render '/public/favorites/btn', post: post %></td>
            <td><%= link_to post.title, community_post_path(community_id: post.community_id, id: post.id) %></td>
            <td><%= post.body %></td>
            <td>
              <% if post.user == current_user %>
                <%= link_to "削除", community_post_path(community_id: post.community_id, id: post.id), method: :delete, "data-confirm" => "削除しますか?", class: "btn btn-danger" %>
              <% end %>
            </td>
          </tr>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>